NODE_ENV=development

PORT=your_port

DATABASE_URL=postgresql://your_login:your_password@your_address:your_database_port/database?schema=public

REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port

SERVER_URL=your_server_url
CLIENT_URL=your_client_url