PORT=your_port

DATABASE_URL=postgresql://your_login:your_password@your_address:your_database_port/database?schema=public

SERVER_URL=your_server_address

MUL_CONST=multiply_const_for_generate_short_url